@using TimeOffTracker.Models;
@using TimeOffTracker.Controllers;

@Scripts.Render("~/Scripts/jquery-3.3.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
@{
    ViewBag.Title = "Admin users panel";
}

<link rel="stylesheet" href="~/Content/PanelTable.css">

<div class="parent-admin-panel">
    <div class="child-admin-panel panel panel-primary">
        @*<div id="pagination"></div>*@
        <div class="panel-heading">
            Accounts
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Employment date</th>
                    <th>Roles</th>
                    <th>@Html.ActionLink("Create", "CreateUser", "Admin", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</th>
                </tr>
                </thead>
        </table>
        <div id="results"></div>
        <div id="pagination"></div>
    </div>
</div>

<script src="~/Scripts/Admin/UsersPanel.js"></script>
