@using TimeOffTracker.Models;
@using TimeOffTracker.Controllers;
@model SortInfo

@Scripts.Render("~/Scripts/jquery-3.3.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
@{
    ViewBag.Title = "Admin users panel";
}

<link rel="stylesheet" href="~/Content/PanelTable.css">
<body 
      onload="SetSortSatuses(
     @(Model.FullNameAscending == null ? "null" : Model.FullNameAscending.ToString().ToLower())
    ,@(Model.EmailAscending == null ? "null" : Model.EmailAscending.ToString().ToLower())
    ,@(Model.EmploymentAscending == null ? "null" : Model.EmploymentAscending.ToString().ToLower())
    ,@(Model.RolesAscending == null ? "null" : Model.RolesAscending.ToString().ToLower()))"
      >
    <div class="parent-admin-panel">
        <div class="child-admin-panel panel panel-primary">
            <div class="panel-heading">
                Accounts
            </div>
            <table class="table table-striped">

                <thead>
                    <tr>
                        <th class="fullNameColumn" onclick="ChangeSort(true, null, null, null)">Full name <nobr id="fullNameIcon"></nobr></th>
                        <th class="emailColumn" onclick="ChangeSort(null, true, null, null)">Email <nobr id="emailIcon"></nobr></th>
                        <th class="eDateColumn" onclick="ChangeSort(null, null, true, null)">Employment date <nobr id="eDateIcon"></nobr></th>
                        <th class="rolesColumn" onclick="ChangeSort(null, null, null, true)">Roles <nobr id="rolesIcon"></nobr></th>
                        <th class="buttonsColumn">@Html.ActionLink("Create", "CreateUser", "Admin", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</th>
                    </tr>
                </thead>
            </table>
            <div id="results"></div>
            <div id="pagination"></div>
        </div>
    </div>
</body>
<script src="~/Scripts/Admin/UsersPanel.js"></script>
